button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}

ol, ul {
    list-style: none;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
}

.NavBar_className__y2qGg {
    width: 100%;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
    z-index: 100;
}

.MainBar_MainBar__40DX7 {
    position: relative;
    max-width: 1060px;
    height: 50px;
}

.MainBar_MainBar_nav__kwHBF {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 1200px){
    .MainBar_MainBar__40DX7 {
        margin: 0 auto;
        height: 50px;
        width: 87.72%;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .MainBar_MainBar__40DX7 {
        margin: 0 auto;
        height: 50px;
        width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .MainBar_MainBar__40DX7 {
        margin: 0 auto;
        height: 110px;
        width: 90%;
    }
}

@media (max-width: 767px){
    .MainBar_MainBar__40DX7 {
        height: 110px;
    }
}