.NavMenu {
    height: inherit;
    text-align: center;
    margin: 0;
}

.NavMenu li {
    height: inherit;
    display: inline-block;
}

.NavMenu li:after {
    height: 100%;
    content: "";
    display: inline-block;
    vertical-align: middle;
}

.NavMenu li a {
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding: 15px;
    display: inline-block;
}

.NavMenu li a>em {
    position: absolute;
    top: 10px;
    right: -5px;
    pointer-events: none;
    font-style: normal;
}

.NavMenu .HomeButton {
    box-shadow: inset 0 -2px #258bf7;
}

.NavMenu .HomeButton a {
    padding-left: 20px;
}

.spanAI {
    position: absolute;
    top: 10px;
    right: -7px;
    pointer-events: none;
}

@media (min-width: 1200px) {
    .NavMenu .HomeButton {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .NavMenu {
        display: flex;
        flex: 1 1;
        justify-content: space-evenly;
    }
    .NavMenu .HomeButton {
        display: none;
    }
    .NavMenu li a {
        font-size: 13px;
        padding: 15px 0;
    }
    .NavMenu li a>em {
        right: -20px;
    }
    .spanAI {
        right: -20px;
        top: 9px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .NavMenu {
        justify-content: flex-start;
        margin-right: 30px;
    }
    .NavMenu .HomeButton {
        display: none;
    }
    .NavMenu li a {
        font-size: 13px;
        padding: 11px 10px 19px;
    }
    .NavMenu li a>em {
        top: 5px;
        right: -7px;
    }
    .spanAI {
        right: -8px;
        top: 4px;
    }
}

@media (max-width: 767px) {
    .NavMenu {
        text-align: left;
    }
    .NavMenu li a {
        padding: 11px 10px 19px;
    }
    .NavMenu .MobileHidden {
        display: none;
    }
}